.header {
    text-align: center;
}

.bounce2 {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(100px);
    }
    40% {
        transform: translateY(70px);
    }
    60% {
        transform: translateY(85px);
    }
}